* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    /* http://snook.ca/archives/html_and_css/font-size-with-rem */
    font-size: 62.5%;

    color: #111;
}

body {
    /* Default font-size */
    font-size: 1.6rem;

    padding: 0;
    margin: 0;
}
