* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    color: #111;
}

body {
    /* Default font-size */
    font-size: 1.6rem;

    padding: 0;
    margin: 0;
}
